<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
  -->
    <connectionStrings>
      <add name="VasketidDB" 
        connectionString="Server=00daa641-9abc-40ef-9afd-a65800ff9b3e.sqlserver.sequelizer.com;Database=db00daa6419abc40ef9afda65800ff9b3e;User ID=efdnpfmkygpayfpt;Password=YjtdkM2WcyK6fUo2iiFFiEhWBnNByrHZ5XErbpdDttDjJEumaSYXNfLscDJ68ywT;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>